<h1 class="top1">ようこそ<strong>Bookers</strong>へ！</h1>
<p class="top2">
	<br><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や<br><br><br>
	印象を共有し交換することができます<br><br><br>
	<%= link_to "start", new_book_path %>
</p>
